@using BooksShop.Infrastructure.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(this.User))
    {
        if (this.User.IsInRole(AdministratorRoleName))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Contact" asp-action="All">Messages</a></li>
                    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Book" asp-action="All">Books</a></li>
                    <li><a class="dropdown-item" asp-area="Administration" asp-controller="User" asp-action="All">Users</a></li>
                    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Order" asp-action="All">Orders</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Profile" asp-route-id="@(this.UserManager.GetUserId(this.User))">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>

                    </li>
                </ul>
            </li>
        }
        else if (this.User.IsInRole(ClientRoleName))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Client
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Order" asp-action="All">Orders</a></li>
                       <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Profile" asp-route-id="@(this.UserManager.GetUserId(this.User))">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>                
                    <li class="dropdown-item">
                        <form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>

                    </li>
                </ul>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-primary me-2" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
