@model MessagesListViewModel

<br>
<h2>Received Messages</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subject</th>
            <th>Created On/At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(MessageInListViewModel message in Model.Messages)
        {
            <tr>
                <td>@message.Id</td>
                <td>@message.FullName</td>
                <td>@message.Email</td>
                <td>@message.Phone</td>
                <td>@message.Subject</td>
                <td>@message.CreatedOn</td>             
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" href="/Admin/Messages/Details?id=@message.Id">Details</a> 
                    <a class="btn btn-danger btn-sm" href="/Admin/Messages/Delete?id=@message.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />


