@model MessagesListViewModel

<br>
<h2>Received Messages</h2>

@if (!Model.Messages.Any())
{
    <h3 class="text-center mt-7 mb-7">No messages!</h3>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subject</th>
            <th>Created On/At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>        
        @foreach(MessageInListViewModel message in Model.Messages)
        {
            <tr>
                <td>@message.Id</td>
                <td>@message.FullName</td>
                <td>@message.Email</td>
                <td>@message.Phone</td>
                <td>@message.Subject</td>
                <td>@message.CreatedOn</td>             
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-area="Administration" asp-controller="Contact" asp-action="Details" asp-route-id="@message.Id" asp-route-page="@Model.CurrentPageNumber">Details</a>
                    <a class="btn btn-danger btn-sm" asp-area="Administration" asp-controller="Contact" asp-action="Delete" asp-route-id="@message.Id" asp-route-page="@Model.CurrentPageNumber" onclick="return confirm('Are you sure you want to delete that image?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />

<!--Delete Modal-->



